TAREFA 04/cardapio.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:simpleType name="idPratoType">
        <xs:restriction base="xs:string">
            <xs:pattern value="p[0-9]+"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="cardapio">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="prato" maxOccurs="unbounded" minOccurs="1">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="nome" type="xs:string"/>
                            <xs:element name="descricao" type="xs:string"/>
                            <xs:element name="ingredientes">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="ingrediente"
                                                    type="xs:string"
                                                    minOccurs="1"
                                                    maxOccurs="unbounded"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="preco">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:decimal">
                                            <xs:attribute name="moeda"
                                                          type="xs:string"
                                                          use="required"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="calorias" type="xs:integer"/>
                            <xs:element name="tempoPreparo" type="xs:string"/>
                        </xs:sequence>
                        <xs:attribute name="id"
                                      type="idPratoType"
                                      use="required"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>